.container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}


.content_container{
  height: 300px;
  width: 300px;
  border: 2px solid black;
}
.checkbox_container{
  margin-right: 10px;
}
.btn_container{
  margin-top: 40px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  padding: 30px;
}

.btn{
  margin: 10px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.list_container{
  margin: 25px;
  display: flex;
  justify-content: center;

}